<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="{{ url_for('get_team') }}">О нас</a><a href="{{ url_for('get_contact') }}">Связаться с нами</a><a href="/projects">Проекты</a></div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>