<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body onload="getTimeZone()">
<div class="container">
    <h1>Contact</h1>
    <h2><a href="{{ url_for('index') }}">Go to the main page</a></h2>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="." method="post">

        {{ form.csrf_token }}
        <p hidden>{{ form.tz }}</p>

        {% for field in form if field.name != 'csrf_token' %}
            {% if field.name == 'tz' %}
                {{ field.name|replace(field.name, "") }}
            {% else %}
                <p>{{ field.label() }}</p>
                <p>{{ field }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn">Submit</button>
    </form>

</div>
<script type="text/javascript">

    let tz = document.getElementById("tz");

    function getTimeZone() {
        tz.value = (Intl.DateTimeFormat().resolvedOptions().timeZone)
    }

</script>

</body>
</html>