<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>

</head>
<body>
<form>
    <label for="nameInput">Name</label>
    <input type="text" id="nameInput" name="name">

    <label for="emailInput">Email</label>
    <input type="email" id="emailInput" name="email">

    <label for="msgInput">Message</label>
    <input type="text" id="msgInput" name="msg">

    <label for="msgInput">Budget</label>
    <input type="number" id="numberInput" name="number">

    <button type="submit">Submit</button>
</form>
<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
</body>
</html>